{% extends 'Home/base.html' %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'student_list' %}">Students</a></li>
                        <li class="breadcrumb-item active">Student List</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="{% url 'add_student' %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Add Student
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Admission No</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.Student_ID }}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                {% if student.student_image %}
                                                <a href="#" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle" src="{{ student.student_image.url }}" alt="User Image">
                                                </a>
                                                {% endif %}
                                                <a href="#">{{ student.first_name }} {{ student.last_name }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ student.gender }}</td>
                                        <td>{{ student.section }}</td>
                                        <td>{{ student.section }}</td>
                                        <td>{{ student.admission_number }}</td>
                                        <td>{{ student.phone_number }}</td>
                                        <td>{{ student.email }}</td>
                                        <td>
                                            <div class="actions">
                                                <a href="{% url 'view_student' student.slug %}" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="{% url 'edit_student' student.slug %}" class="btn btn-sm bg-primary-light mr-2">
                                                    <i class="fas fa-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#delete_student_{{ student.id }}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="9" class="text-center">No students found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for student in students %}
<!-- Delete Student Modal -->
<div class="modal fade" id="delete_student_{{ student.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentModalLabel">Delete Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'delete_student' student.slug %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %} 